@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  width: 100%;
  height: 100vh;
}

html body {
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-family: "Barlow", sans-serif;
  font-weight: 600;
}

html body h1,
html body h2,
html body h3,
html body h4 {
  font-family: "Fraunces", serif;
  font-weight: 700;
}

html body a {
  text-decoration: none;
  color: black;
}

@media (max-width: 770px) {
  html body {
    width: 100%;
  }
}

@media (max-width: 769px) {
  html body {
    width: 103%;
  }
}

@media (max-width: 720px) {
  html body {
    width: 107%;
  }
}

@media (max-width: 700px) {
  html body {
    width: 110%;
  }
}

@media (max-width: 670px) {
  html body {
    width: 115%;
  }
}

@media (max-width: 650px) {
  html body {
    width: 118%;
  }
}

@media (max-width: 630px) {
  html body {
    width: 125%;
  }
}

@media (max-width: 600px) {
  html body {
    width: 128%;
  }
}

@media (max-width: 540px) {
  html body {
    width: 142%;
  }
}

@media (max-width: 414px) {
  html body {
    width: 190%;
  }
}

@media (max-width: 411px) {
  html body {
    width: 209%;
  }
}

@media (max-width: 375px) {
  html body {
    width: 205%;
    height: 79%;
  }
}

@media (max-width: 360px) {
  html body {
    width: 205%;
    height: 187%;
  }
}

@media (max-width: 320px) {
  html body {
    width: 200%;
  }
}

@media (max-width: 280px) {
  html body {
    width: 275%;
  }
}

header {
  width: 100%;
  height: 80%;
  padding: 2rem 3rem;
  background: url(../images/desktop/image-header.jpg) no-repeat center/100%;
  color: white;
  text-align: center;
}

header nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header nav #menu {
  visibility: hidden;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
}

header nav ul li {
  padding: 0 2rem;
}

header nav ul li a {
  color: white;
}

header nav ul li a:hover {
  text-decoration: underline;
}

header nav ul li #contact {
  padding: 1rem 2rem;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  color: black;
  background: white;
  border-radius: 30px;
}

header nav ul li #contact:hover {
  text-decoration: none;
  background: #82d4f8;
  color: white;
}

header h1 {
  font-size: 40px;
  margin-top: 7rem;
  letter-spacing: 6px;
}

header #arrow {
  margin-top: 6rem;
  -webkit-animation: arrow-botton 500ms infinite alternate;
          animation: arrow-botton 500ms infinite alternate;
}

@-webkit-keyframes arrow-botton {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes arrow-botton {
  from {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  to {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@media (max-width: 1024px) {
  header {
    background: url(../images/mobile/image-header.jpg) no-repeat center/100%;
  }
  header nav img {
    width: 30%;
  }
  header h1 {
    margin-top: 16rem;
    font-size: 7rem;
  }
  header img {
    width: 6rem;
  }
}

@media (max-width: 768px) {
  header nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  header nav img {
    width: 35%;
  }
  header nav #menu {
    width: 5rem;
    visibility: visible;
  }
  header nav ul {
    display: none;
  }
}

@media (max-width: 769px) {
  header h1 {
    margin-top: 10rem;
    font-size: 5em;
  }
  header #arrow {
    width: 4rem;
  }
}

@media (max-width: 540px) {
  header {
    height: 143%;
  }
}

@media (max-width: 414px) {
  header {
    height: 150%;
  }
  header h1 {
    margin-top: 11rem;
    font-size: 6rem;
  }
  header #arrow {
    width: 4rem;
  }
}

@media (max-width: 411px) {
  header {
    height: 150%;
  }
  header h1 {
    margin-top: 11rem;
    font-size: 6rem;
  }
  header #arrow {
    width: 4rem;
  }
}

@media (max-width: 375px) {
  header {
    width: 200%;
    height: 311%;
  }
  header h1 {
    margin-top: 32rem;
    font-size: 170px;
  }
  header #arrow {
    width: 8rem;
  }
}

@media (max-width: 360px) {
  header {
    width: 196%;
    height: 163%;
  }
  header h1 {
    margin-top: 30rem;
    font-size: 150px;
  }
  header #arrow {
    width: 8rem;
  }
}

@media (max-width: 320px) {
  header h1 {
    margin-top: 30rem;
    font-size: 130px;
  }
  header #arrow {
    width: 6rem;
  }
}

@media (max-width: 289px) {
  header {
    width: 147%;
    height: 133%;
  }
  header h1 {
    margin-top: 24rem;
  }
}

main {
  width: 100%;
}

main .container {
  width: 100%;
  height: 29.2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

main .container .details {
  padding: 7rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .container .details h3 {
  width: 65%;
  margin-left: 6.5rem;
  text-align: left;
  font-size: 40px;
  color: #23303e;
}

main .container .details p {
  padding: 2rem 6.5rem;
  color: #5a636c;
}

main .container .details a {
  margin-left: 6.5rem;
  font-family: "Fraunces", serif;
}

main .container .details #link-yellow {
  -webkit-text-decoration: underline 2px #fad400;
          text-decoration: underline 2px #fad400;
  color: #23303e;
}

main .container .details #link-yellow:hover {
  -webkit-text-decoration: underline 5px #fad400;
          text-decoration: underline 5px #fad400;
}

main .container .details #link-red {
  -webkit-text-decoration: underline 2px #fe7867;
          text-decoration: underline 2px #fe7867;
  color: #23303e;
}

main .container .details #link-red:hover {
  -webkit-text-decoration: underline 5px #fe7867;
          text-decoration: underline 5px #fe7867;
}

main .container #image01 {
  width: 93rem;
  height: 100%;
  background: url(../images/desktop/image-transform.jpg) no-repeat center/100%;
}

main .container #image02 {
  width: 89rem;
  height: 100%;
  background: url(../images/desktop/image-stand-out.jpg) no-repeat center/100%;
}

main #containerAudience {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

main .professions {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .professions .content {
  width: 50%;
  height: 35rem;
  padding: 3rem 9rem;
  text-align: center;
}

main .professions .content h3 {
  margin-top: 20rem;
  margin-bottom: 2rem;
  font-size: 35px;
}

main .professions #profession01 {
  background: url(../images/desktop/image-graphic-design.jpg) no-repeat center/100%;
  color: #25564b;
}

main .professions #profession02 {
  background: url(../images/desktop/image-photography.jpg) no-repeat center/100%;
  color: #19536b;
}

main .clients {
  width: 100%;
  margin-bottom: 5rem;
  padding: 12rem 7rem;
}

main .clients h4 {
  margin-bottom: 5rem;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 25px;
  color: #a7abae;
}

main .clients .description {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .clients .description .perfil {
  height: 10rem;
  margin: 0 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main .clients .description .perfil img {
  width: 4rem;
  margin-bottom: 3rem;
  border-radius: 999px;
}

main .clients .description .perfil p {
  text-align: center;
  color: #5a636c;
}

main .clients .description .perfil b {
  margin-top: 5rem;
  font-family: "Fraunces", serif;
  font-weight: 900;
  color: #23303e;
}

main .clients .description .perfil .profession {
  font-size: 15px;
  color: #a7abae;
}

@media (max-width: 375px) {
  main {
    width: 200%;
    font-size: 72px;
    text-align: center;
  }
  main .container {
    height: 166rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  main .container .details {
    padding: 16rem 0;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .container .details h3 {
    margin-left: 0;
    text-align: center;
    font-size: 120px;
    font-weight: 900;
  }
  main .container .details a {
    margin-left: 0;
  }
  main .container #image01 {
    width: 96rem;
    background: url(../images/mobile/image-transform.jpg) no-repeat center/100%;
  }
  main .container #image02 {
    width: 96rem;
    background: url(../images/mobile/image-stand-out.jpg) no-repeat center/100%;
  }
  main #containerAudience {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  main .professions {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .professions .content {
    padding: 84rem 2rem 4rem 1rem;
  }
  main .professions .content h3 {
    margin-bottom: 10rem;
    font-size: 120px;
  }
  main .professions .content p {
    margin-bottom: 10rem;
  }
  main .professions #profession01 {
    width: 100%;
    height: 100%;
    background: url(../images/mobile/image-graphic-design.jpg) no-repeat center/100%;
    color: #25564b;
  }
  main .professions #profession02 {
    width: 100%;
    height: 100%;
    background: url(../images/mobile/image-photography.jpg) no-repeat center/100%;
    color: #19536b;
  }
  main .clients {
    padding: 0;
  }
  main .clients h4 {
    margin: 12rem 0;
    font-size: 80px;
  }
  main .clients .description {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main .clients .description .perfil {
    height: 100%;
    margin-bottom: 10rem;
    padding: 0 6rem;
  }
  main .clients .description .perfil img {
    width: 20%;
    margin-bottom: 8rem;
  }
  main .clients .description .perfil b {
    margin-top: 8rem;
    font-size: 90px;
  }
  main .clients .description .perfil .profession {
    margin-top: 2rem;
    margin-bottom: 10rem;
    font-size: 55px;
  }
}

footer {
  width: 100%;
  background: #82d4f8;
  text-align: center;
}

footer .images {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
}

footer .images img {
  width: 100%;
}

footer #logo {
  width: 12rem;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

footer .links {
  margin-bottom: 5rem;
}

footer .links a {
  margin: 0 2rem;
  color: #25564b;
}

footer .links a:hover {
  color: white;
  cursor: pointer;
}

footer .networks {
  margin-bottom: 1rem;
}

footer .networks img {
  margin: 0 1rem;
}

footer .networks img:hover {
  -webkit-filter: brightness(20);
          filter: brightness(20);
  cursor: pointer;
}

footer .attribution {
  font-size: 11px;
  text-align: center;
}

footer .attribution a {
  color: #3e52a3;
}
/*# sourceMappingURL=styles.css.map */